{% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#75B883;">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Outil Reporting
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('list_searches') }}">Liste des recherches</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('reporting') }}">Formulaire de recherche</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>

{% endblock %}