<div class="d-flex justify-content-between mb-5" id="reporting-link">
    <a class="btn btn-link" role="button"
       href="{{ path('list_searches') }}">
        Tous les périodes de recherche sauvegardées
    </a>
    {% if issues is defined %}
        {{ knp_pagination_render(issues) }}
    {% endif %}
    <a class="btn btn-link" role="button"
       href="{{ path('reporting') }}">
        Aller au formulaire de recherche
    </a>
</div>
