{% if searches is defined and searches|length > 0 %}
    <h2 class="text-center mb-5 mt-5">Liste des périodes de recherche sauvegardées</h2>

    <table class="table table-hover mt-5 mb-5" id="searchList">
        <thead>
        <tr>
            <th>Date de sauvegarde</th>
            <th>Nom de période</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for search in searches %}
            <tr>
                <td>{{ search.date|date('d/m/Y H:i:s') }}</td>
                <td>{{ search.name }}</td>
                <td class="text-center">
                    {% include 'search/actions.html.twig' %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center mt-2">
        {{ knp_pagination_render(searches) }}
    </div>
    <hr/>
    <div class="d-flex justify-content-end">
        <a class="btn btn-outline-link" role="button"
           href="{{ path('reporting') }}">
            Aller au formulaire de recherche
        </a>
    </div>
{% endif %}